//$accentColor = #424242
//$textColor = #232321
$accentColor = #2196f3
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #2196f3
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961